.home-page-container {
  $primary-color: #B5CB9F;
  $secondary-color: #9fcb9f;
  $light-color: #ffffff;
  $dark-color: #000000;

  width: 100%;
  height: auto;
  min-height: 100vh;
  position: absolute;
  background-color: $light-color;

  & > .page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > .page-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > .content-header {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
      }

      & > .content-body {
        width: 100%;
        height: auto;
        margin-inline: auto;
        padding-inline: 10px;
        margin-bottom: 30px;
        background-color: transparent;
        z-index: 3;

        @media screen and (min-width: 375px) {
          padding-inline: 20px;
        }

        @media screen and (min-width: 425px) {
          padding-inline: 30px;
        }

        @media screen and (min-width: 1100px) {
          width: 960px;
          padding-inline: 0;
        }

        @media screen and (min-width: 1440px) {
          width: 1080px;
          padding-inline: 0;
        }

        & > .card-list {
          display: grid;
          gap: 24px;
          grid-template-columns: repeat(1, minmax(0px, 1fr));
          margin: 26px 0;

          @media screen and (min-width: 480px) {
            grid-template-columns: repeat(2, minmax(0px, 1fr));
          }

          @media screen and (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0px, 1fr));
          }

          @media screen and (min-width: 1100px) {
            grid-template-columns: repeat(4, minmax(0px, 1fr));
          }

          @media screen and (min-width: 1440px) {
            grid-template-columns: repeat(5, minmax(0px, 1fr));
          }
        }

        & > .spinner-container {
          width: 100%;
          height: 400px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & > .pagination-container {
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary-color;
          padding: 10px;
          border-radius: 0.25rem;
          box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px;
        }
      }
    }
  }
}
